.img-class {
    float: left;
}

.name-logo {
    color: white;
    background: #4aaaa5;
    text-align: left;
    float: left;
    display: inline-block;
    padding: 10px;
    margin: 0px 10%
}

.nav-links {
    float: right;
    text-align: center;
}

.nav-links li {
    display: inline-block;  
}

.nav-links a {
    padding: 0px 20px;
}


.clearfix::after {
    content: " ";
    clear: both;
    display: table;
}   

h2 {
    color: #4aaaa5;
    position: relative;
    margin-left: 2.5%;
}

nav {
    overflow: hidden;
    border: 0px solid black;
    padding:0px;
    text-align:center;
    background: white;
}

content {
    background: black;
}

article {
    border: 1px solid black;
    position: relative;
    margin: 3% 10%;
}

body {
    background: black
}